.verifyEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}


.verifyEmail-successIcon{
  color: rgb(1, 176, 1);
  font-size: 100px;
}
.verifyEmail-successText{
  color: rgb(1, 176, 1);
}


.verifyEmail-loginLink{
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 136, 255);
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}



.verifyEmail-notFoundText{
  color: rgba(255, 0, 0, 0.747);
}